body {
    font-family: 'Merienda', sans-serif;
    background-image: url("poster.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #a31919;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.171); 
    z-index: -1;
}
*/
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.flex-container > div {
    margin: 130px;
    text-align: center;
    line-height: 0px;
}

.container, .img-center {
    position: relative;
    text-align: center;
}


.cat-img, #ageResults{
    /*position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    display: flex;
    align-items: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.heading h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: #ff4081;
}

.heading p {
    font-size: 25px;
    color: #a31919;
}


#calculate-button {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 40, 40);
    color: aliceblue;
    border-color: rgba(185, 25, 25, 0.603);
    border-width: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* display: inline-block; */
    cursor: pointer;
    box-shadow: 0 12px 16px #8d0f0f;
}

#calculate-button:active {
    cursor: grabbing;
}

#calculate-button:hover {
    background-color: rgb(150, 13, 13);
}


#ageResults,#percentage, #phrase {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
/*
#ageResults {
    top: 47%;
    font-size: 25px;
    font-weight: bold;
}
*/
#percentage {
    top: 52%;
    font-size: 40px;
    font-weight: bold;
}

#phrase {
    top: 145%;
    font-size: 19px;
    font-weight: bold;
}

input[type="text"], .yourInfo, .yourAge, .crush-name, .crush-age {
    background-color: #eec1d2;
    text-align: center;
    box-shadow: 0 12px 16px #af456e;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.yourAge, .crush-age {
    padding: 8px;
    margin-bottom: -30px;
    margin-top: 10px;
} 
    
.ur-zodiac {
    position: relative; 
    background-color: #eec1d2;
    text-align: center;
    box-shadow: 0 12px 16px #af456e;
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-bottom: 8px;
    margin-top: 39px;
}


.zodiac-crush {
    position: relative;
    background-color: #eec1d2;
    text-align: center;
    box-shadow: 0 5px 16px #af456e;
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-bottom: 15px;
    margin-top: 39px;
}


.hidden {
    display: none;
}

#reset-button{
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 40, 40);
    color: aliceblue;
    border-color: rgba(185, 25, 25, 0.603);
    border-width: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* display: inline-block; */
    cursor: pointer;
    box-shadow: 0 12px 16px #8d0f0f;
}

#reset-button:active {
    cursor: grabbing;
}





/* Mobile Screens */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .flex-container > div {
        margin: 70px ;
    }
    #calculate-button, #reset-button {
        top: 70%;
    }
    .cat-img {
        top: 0%;
    }
    #ageResults {
        top: 126%;
        font-size: 100%;
    }
    #percentage {
        left: 390;
        top:59%;
        font-size: 50px;
    }
    #phrase {
        top: 129%;
        font-size: 16px;
    }
    .button-submit {
        top: 76%;
        left: 385;
    }
    input[type="text"], .yourAge, .crush-age {
        width: 90%;
        padding: 9px;
    }
}

/* Very small screens */
@media (max-width: 414px) {
    body {
        flex-direction: column;
    }
    .flex-container > div {
        margin: 70px ;
    }
    #calculate-button, #reset-button {
        top: 70%;
    }
    .cat-img {
        top: 90%;
    }
    #ageResults {
        top: 35%;
        font-size: 10%;
    }
    #percentage {
        left: 52%;
        top:62%;
        font-size: 20px;
    }
    #phrase {
        top: 105%;
        font-size: 16px;
    }
    .button-submit {
        top: 76%;
        left: 210;
    }
    input[type="text"], .yourAge, .crush-age {
        width: 90%;
        padding: 3px;
    }
}

/*
.hidden {
    display: none;
}

#reset-button{
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 40, 40);
    color: aliceblue;
    border-color: rgba(185, 25, 25, 0.603);
    border-width: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* display: inline-block; 
    cursor: pointer;
    box-shadow: 0 12px 16px #8d0f0f;
}

#reset-button:active {
    cursor: grabbing;
}
*/
