body {
    font-family: "Oleo Script", system-ui, sans-serif;
    font-weight: 400;
    background-image: url("poster.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(107, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh; 
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.171); /* Dark overlay */
    z-index: -1;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.flex-container > div {
    margin: 130px;
    text-align: center;
    line-height: 0px;
}

.container, .img-center {
    position: relative;
    text-align: center;
}


.cat-img {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    flex-direction: column;
    text-align: center;
}


#calculate-button {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 40, 40);
    color: aliceblue;
    border-color: rgba(185, 25, 25, 0.603);
    border-width: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* display: inline-block; */
    cursor: pointer;
    box-shadow: 0 12px 16px #8d0f0f;
}

#calculate-button:active {
    cursor: grabbing;
}


#ageResults, #percentage, #phrase {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#ageResults {
    top: 47%;
    font-size: 25px;
    font-weight: bold;
}

#percentage {
    top: 52%;
    font-size: 40px;
    font-weight: bold;
}

#phrase {
    top: 52%;
    font-size: 19px;
    font-weight: bold;
}

input[type="text"], .yourInfo, .yourAge, .crush-name, .crush-age {
    background-color: #eec1d2;
    text-align: center;
    box-shadow: 0 12px 16px #af456e;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.yourAge, .crush-age {
    padding: 8px;
    margin-bottom: px;
    margin-top: 39px;
} 
    
.ur-zodiac {
    position: relative; 
    background-color: #eec1d2;
    text-align: center;
    box-shadow: 0 12px 16px #af456e;
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-bottom: 8px;
    margin-top: 39px;
}


.zodiac-crush {
    position: relative;
    background-color: #eec1d2;
    text-align: center;
    box-shadow: 0 5px 16px #af456e;
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-bottom: 15px;
    margin-top: 39px;
}


.button-submit {
    position: absolute;
    top: 29%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: rgb(217, 11, 111);
    color: aliceblue;
    border-color: rgba(156, 13, 70, 0.603);
    border-width: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    cursor: grab;
    box-shadow: 0 12px 16px #6a2b54;
}


.hidden {
    display: none;
}

#reset-button{
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 40, 40);
    color: aliceblue;
    border-color: rgba(185, 25, 25, 0.603);
    border-width: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* display: inline-block; */
    cursor: pointer;
    box-shadow: 0 12px 16px #8d0f0f;
}

#reset-button:active {
    cursor: grabbing;
}





/* Mobile Screens */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .flex-container > div {
        margin: 50px 0;
    }
    #calculate-button, #reset-button {
        top: 80%;
    }
    .cat-img {
        top: 110%;
    }
    #ageResults {
        top: 35%;
        font-size: 20px;
    }
    #percentage {
        top: 40%;
        font-size: 30px;
    }
    #phrase {
        top: 40%;
        font-size: 16px;
    }
    .button-submit {
        top: 20%;
    }
    input[type="text"], .yourAge, .crush-age {
        width: 90%;
        padding: 14px;
    }
}

/* Very small screens */
@media (max-width: 480px) {
    #calculate-button {
        font-size: 14px;
        padding: 6px;
        
    }

    #reset-button{
        font-size: 14px;
        padding: 6px;
    }

    #ageResults {
        font-size: 18px;
    }

    #percentage {
        font-size: 28px;
    }

    #phrase {
        font-size: 18px;
    }

    input[type="text"], .yourInfo, .yourAge, .crush-name, .crush-age {
        width: 90%;
        padding: 6px;
    }
}


/*
.hidden {
    display: none;
}

#reset-button{
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 40, 40);
    color: aliceblue;
    border-color: rgba(185, 25, 25, 0.603);
    border-width: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* display: inline-block; 
    cursor: pointer;
    box-shadow: 0 12px 16px #8d0f0f;
}

#reset-button:active {
    cursor: grabbing;
}
*/
